/*for some reason css isnt showing in Safari, why?*/
#content { 
height: 600px;
font-family: Courier;
}

#header {
font-family: Courier;
}
	
#find {
float: left;
margin: 100px; /*setting all margins(top, right, bottom, and left) to 25px*/
}

#help {
float: right;
margin: 100px; 
}